<div class="container-fluid">
  <div class="menu">
    {{#link-to 'index'}}
        <h2>
       <em>Home</em>
     </h2>
       {{/link-to}}
     </div>
     <div class="body">
       {{outlet}}
     </div>
   </div>
