<h1>Welcome to review site</h1><br>
<h2>Below are a list of restaurants you can review and rate</h2>

<article class="listing">
  {{#each model.reviews as |review|}}
    {{rate-count review}} {{review-tile review=review}}
    {{/each}}
  </article>

{{add-property saveProperty="saveProperty"}}
